{% extends 'base.html' %}

{% block head %}
<title>Resume Parser</title>
{% endblock %}

{% block content %}
<div width: 100px, style="background-color:#E6E6FA;">
    <h1>Resume Parser </h1>
</div>

<div id="homepage-form" width: 100px, style="background-color:#E6E6FA;">
    <h4>Drop Your Resume (Only PDF Format is Supported)</h4>
    <form action="/uploadResume" method="POST" enctype="multipart/form-data">
        <input type="file" id="File" name="File" accept=".pdf">
        <button type="submit" class="btn btn-secondary">Parse</button>
    </form>
    
</div>
{% endblock %}